{{#each runs as |run|}}
  {{log book}}
  <section data-id="{{run.id}}">
    <h3>
      Run ID #{{run.id}}: You ran {{run.miles_ran}} miles in {{run.duration_in_minutes}} minutes.
    </h3>
  </section>

{{/each}}
